
body {
  background-image: url(/img/bgimg.jpg);
  background-repeat:repeat-x;
  margin-top: 0;
}

header {
    display:block;
    position:relative;
    margin:0 0 0 0;
    padding:0 4px 0 4px;
    width:960px;
    height:220px;
    background-repeat:no-repeat;
    background-image:url(/img/metricHeader.jpg);
}

#col1{
  display:block;
  width:650px;
  float:left;
  border: 1px solid #ccc;
  margin-top: 16px;
  padding-left: 15px;
  padding-right: 15px;
}

#col2{
  margin-top: 0px;
  margin-left: 30px;  
  display:block;
  float:left;
  width:350px;
  border: 1px solid #ccc;
}

#page_header{
  padding-top: 160px;
  padding-left: 30px;
  color:#fff;
  font-size: 30px;
  font-family: helvetica;
  font-weight: bolder;
}

#options_message{
  padding-left: 5px;
  padding-top: 5px;  
  font-size: 20px;
  font-family: helvetica;
  font-weight: normal; 
}


.region_message{
  font-size: 20px;
  font-family: helvetica;
  font-weight: normal; 
  padding-left: 5px;
  padding-top: 5px;  
}

.region{
  margin-left: 15px;
  margin-right:15px;
}

.option{
 height:65px;
 background-image: url(/img/buttonbg.png);
 display: block;
 padding-left: 30px;
}

.option img{
  float: left;
}
.option select{
  margin-top: 20px;
  margin-right: 0px;
  padding-left: 8px;
  float: left;

  background: transparent;
  width: 268px;
  padding: 5px;
  font-size: 18px;
  line-height: 1;
  border: 1px solid #ccc;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
  overflow: hidden;
  background: url(/img/arrow.png) no-repeat right #ddd;

}
.option .type{
  color:#fff;
  float:left;
  width:150px;
  padding-top: 22px;
  padding-left: 5px;
  font-size: 21px;
  font-family: helvetica;
}

/*#save{
 height:65px;
 width:150px;
 background-image: url(/img/buttonbg.png);
 display: block;
 margin-left: 200px;
 padding-left: 100px; 
 box-shadow: 
  0 1px 2px #fff, 
  0 -1px 1px #666, 
  inset 0 -1px 1px rgba(0,0,0,0.5), 
  inset 0 1px 1px rgba(255,255,255,0.8); 

}*/

button{
  overflow: hidden;
  margin-left: 250px;
  padding-top: 1px;
  padding-left: 5px;
  float:left;
  font-size: 25px;
  font-weight: bold;
  background: transparent;
  height:50px;
  width:150px;
  color:#fff;
  background-image: url(/img/buttonbg.png);
}

.overlay
{
   background-color: #3A5B68;
   opacity: .9;
   filter: alpha(opacity=90);
   position: fixed; top: 200; left: 250;
   width: 400px; 
   height: 200px;
   z-index: 10;
}

.overlay p{
  float:left;
  color: #CACACA;
  margin-top: 50px;
  margin-left: 50px;
  font-weight: bold;
  font-size: 30px;
  font-family: helvetica;
}